<h1><%=@task.title%></h1>

<%= link_to "Edit this task", edit_task_path %>
<div class="task-container">
  <div class="task-description">
    <p> <%=@task.details%></p>
  </div>
  <div class="completed-box">
    <%if @task.completed%>
      <i class="fas fa-check-square">Task completed</i>
    <%else%>
      <i class="fas fa-square">This task is not completed</i>
    <%end%>
  </div>
  <%= link_to "Back to Tasks", tasks_path, class: "btn btn-outline-secondary" %>
</div>
